{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 120,
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": true,
	"jsxBracketSameLine": true,
	"plugins": ["prettier-plugin-svelte"],
	"svelteSortOrder": "options-scripts-markup-styles",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
